/*

SPDX-License-Identifier: GPL-2.0-or-later
 
Copyright 2018 Alexandre Macabies
Copyright 2019 Kilian Guillaume
Copyright 2020 Paul Guénézan

*/

/*************/
/* Variables */
/*************/

body {
    --accent-color: #222;
    --background-color: #FFF;
    --background-color-2: #eee;
    --background-darker: rgba(0,0,0,0.02);
    --border-color: #111;
    --text-color: #000;
}

/**********/
/* Global */
/**********/

body {
    background-color: #000000;
    color: #ffffff;
}

/*******/
/* nav */
/*******/

.navbar-default {
    background: transparent;
    border: transparent;
    border-radius: 0;
}

.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000;
    background: rgba(0,0,0,0.6);
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background: rgba(0,0,0,0.8)
}

/********/
/* main */
/********/

[role=main] {
    margin-top: 80px;
}

[role=complementary] h1 {
    margin: 0;
    padding: 0 0 .5rem 0;
}

[role=complementary] object {
    width: 600px !important;
}

body>div.container {
    background: url("../img/paper.png");
    background-position: top left;
    background-repeat: repeat;
    box-shadow: 0 10px 40px rgba(0,0,0,0.9);
    padding-bottom: 20px;
    margin-bottom: 40px;
}

/***************/
/* breadcrumbs */
/***************/

.breadcrumb {
    text-align: right;
    background: transparent;
}

.breadcrumb > li + li::before {
    color: #333333;
}

.breadcrumb > .active {
    color: #222222;
}

/**********/
/* panels */
/**********/

.panel-primary, .panel-default {
    background: var(--background-darker);
    border-color: var(--border-color);
}

.panel-primary > .panel-heading {
    background-color: var(--accent-color);
    border-color: var(--border-color);
    color: var(--background-color);
}

.panel-default > .panel-heading {
    background: transparent;
    border-color: var(--border-color);
    border-bottom: 2px dotted;
    color: var(--text-color);
}
